/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 #root {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  overflow: auto;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .navigatorButtons{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    position: absolute;
    left: 0;
    padding-left: 0.2em;
    padding-right: 2em;
    /* border-bottom: 2px solid gainsboro; */
    button {
      margin:0 0.5em;
      padding: 0.25em 0;
      box-shadow: none;
      border-radius: 0%;
    }
  }
  .selected{
    border-bottom: 3px solid rgb(0, 0, 0);
    border-spacing: 1em;
    padding: 0.5em 0
   }
}

/* #top {

} */

#bottom button{
 margin-bottom: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}

.pass {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
  button {
    padding: 0.25em 0.5em;
    /* margin-left: 0.5em; */
  }
}

button{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 45px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;

}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.cmd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75vw;
}
.file{
  height: auto;
  margin: 2em 0 0em;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
.processBtns{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  button{
    flex-grow: 10;
  }
  .stopBtn{
    /* background-color: red; */
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    flex-grow: 1;
    color: red;
    padding-left: 10px;
    img {
      margin-right: 10px;
    };
  }
  .infoP{
    position: relative;
    margin: auto;
  }
}
.console{
  background-color: black;
  color: white;
  width: 75vw;
  min-height: 30vh;
  max-height: 55vh;
  border-radius: 10px;
  overflow: auto;
  transition: all ease-in 0.1s;
  >p:first-child{
    font-weight: bold;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    padding: 0.5em 0.5em;
  }
  .output-pass{
    display: flex;
    margin-top: 1.2em;
    button:hover{
      transform: scale(1.15);
    }
  }
  .console-header{
    position: sticky;
    top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* border-bottom: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 8px 30px -6px rgb(0, 0, 0),
    0px 18px 50px -4px rgba(0, 0, 0, 0.71);
    /* align-items: center; */
    /* column-gap: 0.5em */
  }
  .clearBtn{
    /* position: sticky; */
    font-size:medium;
    left: 100%;
    padding-left: none;
    margin-right: 0.5em;
  };
}

.hidden{
  display: none !important;
}
